/*
	Style des blocs
*/

html {
	width : 100%;
	height : 100%;
}

body {
	margin : 0;
	width : 100%;
	height : 100%;
	background-color : #F2F2F2;
	background-image : url("../img/background.jpg");
	background-position : center;
	background-attachment: fixed;
}

footer {
	margin-top : 20px;
}

h1 {
	margin-bottom : 20px;
}

.blocFondBlanc {
	padding : 15px;
	background-color: rgba(255, 255, 255, 0.6);
}

.menu {
	margin-top : 30px;
	margin-bottom : 30px;
}

.bandeNoire {
	margin-top : 40px;
	margin-bottom : 40px;
	padding : 10px 20px 10px 50px;
	background-color: rgba(0, 0, 0, 0.4);
}

.bandeBlanche {
	margin-top : 40px;
	margin-bottom : 40px;
	padding : 10px 20px 10px 50px;
	background-color: #f7f7f7;
}

/*
	Styles éléments simples
*/

.white {
	color : #fff;
}

.fondNoir {
	background-color: rgba(0, 0, 0, 0.4);
}

.margin-bottom-30 {
	margin-bottom : 30px;
}